flask==3.0.3
flask-cors==4.0.1
gunicorn==21.2.0

# Lighter & available on Render’s Linux images for Python 3.10
tensorflow-cpu==2.16.1
keras==3.3.3

numpy==1.26.4
pillow==10.3.0
h5py==3.10.0
tensorboard==2.16.2
